<!{% extends 'bitmovies/base.html' %}>



{% block content %}
				
				<!-- CONTENT START-->
				<section class="movies-details video-type"  style="margin: 0 0 20px;">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="des-pic well">
									<div class="main-content-page">
										<div class="row">
											<div class="col-md-2">
												<div class="main-page">
													<img src="images/thumpe2.jpg" class="img-responsive"alt="video-pre-img">
												</div>
											</div>
											<div class="col-md-7">
												<div class="page-title">
													<h4>Raman Ragav 2.0</h4>
													<ul>
														<li><a href="#">Drama</a></li>
														<li><a href="#">Action</a></li>
														<li><a href="#">Hindi</a></li>
													</ul>
												</div>
												</br>
												<div class="certified">
													<h5>2.30hr | 'A' Certified</h5>
												</div>
												<div class="release">
													<h5>Release Date: <span>July 17, 2016</span></h5>
												</div>
											</div>
											<div class="col-md-3">
											</div>
										</div>
									</div>
									
									<div class="directors writers">
										<h4>Director</h4>
										<h6>Anurab Kashyap</h6>
									</div>
									<div class="writers">
										<h4>Director</h4>
										<h6>Vasan Bala and anurab Kashyap</h6>
									</div>
									
									<div class="cast">
										<h4>Director</h4>
										<ul class="list-unstyled">
											<li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li>
											<li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li>
											<li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li>
											<li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li>
											<li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li><li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li><li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li><li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li><li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li><li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li><li>
												Nowazuddin Kashyap &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
												<span class="add-name">Ramanna Raman</span>
											</li>
											
										</ul>
										
									</div>
									<div class="producer cast">
										<h4>Pdoducer</h4>
										<ul class="list-unstyled">
											<li>
												Nowazuddin Kashyap
											</li>
											<li>
												Nowazuddin Kashyap
											</li>
											<li>
												Nowazuddin Kashyap
											</li>
											<li>
												Nowazuddin Kashyap
											</li>
											<li>
												Nowazuddin Kashyap
											</li>
											<li>
												Nowazuddin Kashyap
											</li>
										</ul>
										
									</div>
									<div class="music writers">
										<h4>Music</h4>
										<h6>Vasan Bala and anurab Kashyap</h6>
									</div>
									<div class="cinimotography writers">
										<h4>Cinimotography</h4>
										<h6>Vasan Bala and anurab Kashyap</h6>
									</div>
									<div class="filmediting writers">
										<h4>Film Editing</h4>
										<h6>Vasan Bala and anurab Kashyap</h6>
									</div>
									<div class="visualeffects writers">
										<h4>Visual Effects</h4>
										<h6>Vasan Bala and anurab Kashyap</h6>
										<h6>Vasan Bala and anurab Kashyap</h6>
										<h6>Vasan Bala and anurab Kashyap</h6>
										<h6>Vasan Bala and anurab Kashyap</h6>
										<h6>Vasan Bala and anurab Kashyap</h6>
										<h6>Vasan Bala and anurab Kashyap</h6>
									</div>
								</div>
							</div>
							
							
								
							<!-- Similar part start -->
							<div class="related-content">
								<div class="col-md-4">
									<div class="related-title">
										<h4>Related News<span class="similar-more pull-right"><a href="#">More</a></span></h4>
									</div>
									<div class="related-news">
										<div class="single-news">
											<div class="row">
												<div class="col-md-4">
													<div class="news-img">
														<img src="images/thumpe2.jpg" class="img-responsive">
													</div>
												</div>
												<div class="col-md-8">
													<div class="news-tit">
														<p>
															Zika-related pregnancies reveal the costs of our harsh legal regime
														</p>
														<h6>12h<span class="pull-right">Rediff</span></h6>
													</div>
												</div>
											</div>
										</div>
										
										<div class="single-news">
											<div class="row">
												<div class="col-md-4">
													<div class="news-img">
														<img src="images/thumpe2.jpg" class="img-responsive">
													</div>
												</div>
												<div class="col-md-8">
													<div class="news-tit">
														<p>
															Zika-related pregnancies reveal the costs of our harsh legal regime
														</p>
														<h6>12h<span class="pull-right">Rediff</span></h6>
													</div>
												</div>
											</div>
										</div>
										
										<div class="single-news">
											<div class="row">
												<div class="col-md-4">
													<div class="news-img">
														<img src="images/thumpe2.jpg" class="img-responsive">
													</div>
												</div>
												<div class="col-md-8">
													<div class="news-tit">
														<p>
															Zika-related pregnancies reveal the costs of our harsh legal regime
														</p>
														<h6>12h<span class="pull-right">Rediff</span></h6>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-collect">
										<div class="featue-title">
											<h4>Features in Collection<span class="similar-more pull-right"><a href="#">More</a></span></h4>
										</div>
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<div class="thumbnail">
													<img src="images/des.jpg" alt="video-pre-img">
													<div class="caption">
														<h5>8.2</h5>
														<h4>Top Movies of 2016</h4>
													</div>
												</div>
												<div class="thumbnail">
													<img src="images/des.jpg" alt="video-pre-img">
													<div class="caption">
														<h5>8.2</h5>
														<h4>Top Movies of 2016</h4>
													</div>
												</div>
											</div>
											<div class="col-md-2"></div>
										</div>
									</div>
									
									<div class="feature-collect">
										<div class="featue-title">
											<h4  style="padding-left: 60px;">Similar Movies</h4>
										</div>
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<div class="video-list">
												<div class="thumbnail">
													<span class="add-btn pull-right">
														<a href="#">
															<i class="fa fa-plus" aria-hidden="true"></i>
														</a>
													</span>
													<img src="images/thumpe2.jpg" alt="video-pre-img">
													<div class="caption">
														<h4>Raman Ragav 2.0</h4>
														<h5 class="rate-card">8.2</h5>
													</div>
												</div>
											</div>
												<div class="video-list">
												<div class="thumbnail">
													<span class="add-btn pull-right">
														<a href="#">
															<i class="fa fa-plus" aria-hidden="true"></i>
														</a>
													</span>
													<img src="images/thumpe2.jpg" alt="video-pre-img">
													<div class="caption">
														<h4>Raman Ragav 2.0</h4>
														<h5 class="rate-card">8.2</h5>
													</div>
												</div>
											</div>
											</div>
											<div class="col-md-2"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- Similar part end -->
						</div>
					</div>
				</section>
				<!-- CONTENT END-->
				
{% endblock content %}