<!{% extends 'bitmovies/base.html' %}>
{% block content %}

{% load account socialaccount %}
{% load static from staticfiles %}



				
				<!-- CONTENT START-->
				<div class="account-content">
					<!-- Signin part Start -->
					<div class="container">
							<div class="row">
							<div class="col-md-3"></div>
							<div class="col-xs-12 col-sm-8 col-md-6">
								<div class="panel overall">
									<div class="panel-top">
										<div class="panel-header" style="margin: 0 auto;text-align: center;">
											<h4 class="welcome"><strong>Hi! Welcome</strong></h4>
											<h4 class="sign-text">
												Sign in and Explore a new world!</br>Don't have an account?
												<span><a href="{% url 'signup' %}"><b>Sign Up</b></a></span>
											</h4>
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
													<div class="facebook">
														<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-primary btn-block btn-lg login-fb">Continue with Facebook</a>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12">
													<div class="google">
														<a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-success btn-block btn-lg login-go">Continue with Google</a>
													</div>
												</div>
											</div>
											<div class="or-line">
												<span class="text-center">Or</span>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12">
												<form role="form">
													<div class="form-group">
														<input type="email" name="email" id="email" class="form-control" placeholder="Email or Phone No">
													</div>
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-12">
															<div class="form-group">
																<input type="password" class="form-control" placeholder="Password"/>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
										<div class="submit-buttons">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
													<div class="submit-sgn">
														<a href="{% url 'login' %}" class="btn btn-default btn-lg btn-block" style="margin: 0 0 8px;">Sign In</a>
													</div>
													<span class="forgot-password pull-right"><a href="{% url 'account_reset_password' %}">Forgot Password?</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>
					<!-- Signin part end 	-->
				</div>
				<!-- CONTENT END-->
				
				<!--FOOTER START -->    
				<footer>
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="movie-footer">
									<h4>Movie by Genere</h4>
									<div class="row">
										<div class="col-md-6">
											<ol class="list-unstyled">
												<li><a href="#">Action</a></li>
												<li><a href="#">Romance</a></li>
												<li><a href="#">Comedy</a></li>
												<li><a href="#">Adult</a></li>
												<li><a href="#">Adventure</a></li>
												<li><a href="#">Biography</a></li>
												<li><a href="#">Classic</a></li>
												<li><a href="#">Crime</a></li>
												<li><a href="#">Drama</a></li>
												<li><a href="#">Family</a></li>
												<li><a href="#">Fantasy</a></li>
											</ol>
										</div>
										<div class="col-md-6">
											<ol class="list-unstyled">
												<li><a href="#">History</a></li>
												<li><a href="#">Musical</a></li>
												<li><a href="#">Mystery</a></li>
												<li><a href="#">Sci-fi</a></li>
												<li><a href="#">Suspense</a></li>
												<li><a href="#">Thriller</a></li>
												<li><a href="#">Western</a></li>
											</ol>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="movie-footer">
									<h4>Movie Categories</h4>
									<ol class="list-unstyled">
										<li><a href="#">Now Showing</a></li>
										<li><a href="#">Upcoming Movies</a></li>
										<li><a href="#">Popular Movies</a></li>
										<li><a href="#">English Movies</a></li>
										<li><a href="#">Hindi Movie</a></li>
										<li><a href="#">Tamil Movie</a></li>
										<li><a href="#">Telugu Movie</a></li>
										<li><a href="#">Gujarati Movies</a></li>
										<li><a href="#">Punjabi Movies</a></li>
										<li><a href="#">Marati Movies</a></li>
										<li><a href="#">Urudu Movies</a></li>
									</ol>
								</div>
							</div>
							<div class="col-md-3">
								<div class="movie-footer">
									<h4>Celebs</h4>
									<ol class="list-unstyled">
										<li><a href="#">Celebs Born Today</a></li>
										<li><a href="#">Popular Actor</a></li>
									</ol>
								</div>
							</div>
							<div class="col-md-3">
								<div class="movie-footer">
									<h4>Others</h4>
									<ol class="list-unstyled">
										<li><a href="#">Collection</a></li>
										<li><a href="#">News</a></li>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ol>
								</div>
							</div>
						</div>
						
							<div class="copyright">
								<div class="subtitle fancy"><span>BITMovies</span></div>
								<div class="social">
									<ul class="list-unstyled">
										<li>
											<a class="ico" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
										</li>
										<li>
											<a class="ico" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
										</li>
										<li>
											<a class="ico" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
										</li>
										<li>
											<a class="ico" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
										</li>
									</ul>
								</div>
							</div>
					</div>
                </footer>
				<!-- FOOTER END -->
			</div>
			<!-- initialize jQuery Library --> 
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<!-- jquery -->
			<script src="{% static "js/jquery.min.js" %}"></script>
			<!-- Bootstrap -->
			<script src="{% static "js/bootstrap.min.js" %}"></script>
			<script src="{% static "js/owl.carousel.min.js" %}"></script>
			<script>
				$(document).ready(function() {
 
				  $("#owl-demo").owlCarousel({
				 
					  navigation : false, // Show next and prev buttons
				 
					  slideSpeed : 300,
					  paginationSpeed : 400,
				 
					  items : 1, 
					  itemsDesktop : false,
					  itemsDesktopSmall : false,
					  itemsTablet: false,
					  itemsMobile : false
				 
				  });
				 
				});
			</script>
		
		</body>
	</html>

			{% endblock content %}		
